Repository showdownjs/showdown, pull requests merged in 2022-02, with the labels that each got.

#730 fix(metadata): Restore dollar signs and tremas.
  dist/showdown.js
  dist/showdown.js.map
  dist/showdown.min.js
  dist/showdown.min.js.map
  src/subParsers/makehtml/metadata.js
Labels: PR: request-changes, scope:makeHtml

#358 fix #353: read input data using stream
  src/cli/cli.js
  src/cli/makehtml.cmd.js
Labels: enhancement, PR: request-changes

#690 fix(makemarkdown.table): col text align right
  src/subParsers/makemarkdown/table.js
Labels: PR: request-changes, scope:makeMarkdown
